//////////////////////////////////////////////////////////////////
*, *:before, *:after {  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
//.owl-carousel { touch-action:none !important; }
html, body {
    overflow-x:hidden; 
    position: relative;  
    background-color: #999;
}
.wrapper{
    margin: 0 auto;
    //max-width: 1400px;
    width: 1400px; 
    height: 100%;
    padding: 15px 15px 15px 15px;    
}

#salt , #session_id, #text, #filler {
    width: 90%; 
    height: 30px; 
}
label{
    width: 10%;
    display: inline-block;    
}
.flex{
    display: flex;
}
.sha1_label{
    width: 15%;
    height: 30px;    
    line-height: 30px;      
    padding: 0 10px 0 10px;
}

#msg_key{
    width: 60%;
    height: 30px;
    background-color: #5f5;
    line-height: 30px;
    
}
.auth_label{
    width: 15%;
    height: 30px;    
    line-height: 30px;  
    padding: 0 10px 0 10px;
}
#auth_key{    
    width: 60%;    
    background-color: #faa;  
    word-break: break-word;         
}
#aes_key, #aes_ige_iv{
    width: 100%; 
    height: 30px;
    background-color: #666;
    line-height: 30px;
    margin: 5px 0 5px 0;
}
.encode_label{
    width: 15%;
    height: 30px;    
    line-height: 30px;  
}
#encoded_text{
    width: 100%; 
    height: 30px;
    background-color: #58f;
    line-height: 30px;
}
.finish{
    width: 100%; 
    height: 30px;    
    line-height: 30px;
    margin: 0 auto;
}
#transm_text{
    width: 100% ;
    height: 30px ;
    background-color: #99f;
    line-height: 30px;
}
.btn{
    padding: 10px 5px;
    min-width: 125px;
    width: 20%; 
    border: 3px solid #222;    
    box-shadow: 0 1px 10px 0.5px #000;
    &:hover{
        background-color: #888;
        -webkit-transition: background 0.3s ease;
    }    
}